(
trap 'echo "Z:" 1>&2; echo "Z:"' EXIT

echo 'A:'
echo 'A:' 1>&2

bash {{.AgentPath}} query \
  --index-file {{.IndexFile}} \
  --max-num-lines {{.MaxNumLines}} \
  --logfile {{.LogFile}} \
  --from {{.From}} \
  --to {{.To}} {{if .HasLineUtil}}--lines-until {{.LineUtil}}{{end}} {{if .RefreshIndex}}--refresh-index{{end}} {{ .Pattern}}

exit 0
)