trap 'echo "Z:" 1>&2; echo "Z:"' EXIT

echo 'A:'
echo 'A:' 1>&2

cd

if [[ ! -d {{ .PrefixPath }} ]]; then
    echo 'E:1:Dir {{.PrefixPath}} not exists' 1>&2
    exit 1
fi

rm -rf {{ .PrefixPath }}
if [ $? -ne 0 ]; then
    echo 'E:1:clean {{ .PrefixPath }} failed' 1>&2
    exit 1
else 
    echo 'N:clean {{ .PrefixPath }} success'
fi

exit 0