echo 'A:'
echo 'A:' 1>&2

echo 'N:bash {{.AgentPath}} query --index-file {{.IndexFile}} --max-num-lines {{.MaxNumLines}} --logfile {{.LogFile}} --from {{.From}} --to {{.To}} {{if .HasLineUtil}}--lines-until {{.LineUtil}}{{end}} {{if .RefreshIndex}}--refresh-index{{end}} {{ .Pattern}}'

bash {{.AgentPath}} query \
  --index-file {{.IndexFile}} \
  --max-num-lines {{.MaxNumLines}} \
  --logfile {{.LogFile}} \
  --from {{.From}} \
  --to {{.To}} {{if .HasLineUtil}}--lines-until {{.LineUtil}}{{end}} {{if .RefreshIndex}}--refresh-index{{end}} {{ .Pattern}}

echo 'Z:'
echo 'Z:' 1>&2